doctype html
html
  head 
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/game.css')
  link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
  link(rel='stylesheet', href='/css/jquery.mCustomScrollbar.min.css')


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='/js/jquery.mCustomScrollbar.concat.min.js')
  script(src='https://cdn.socket.io/socket.io-1.3.7.js')
  script(src='/js/game.js')
  
  body
    div#handCards(data-total=totalgames, data-wins=wins, data-losses=losses, data-sound=soundInstruct, data-user=username, data-ingame='false', data-outcome='', data-type=match, data-first=first, data-second=second, data-third=third, data-forth=forth, data-fifth=fifth, data-set='true', data-emote='true')
    .searchLoad
      div#searching
      p.searchText Finding Opponent
      p.loadTip Tip: You can right click to close any opened menu. Clicking on the board will also close all menus.
      form(action="/dashboard", method="get")
        .form-group
          button#dashButton.btn.btn-default(type='submit' style='position: relative; left: 50%; transform: translateX(-50%);') Quit Search
      .containerSearch
        .loader.loader--fade
          span.loader-item 1
          span.loader-item 2
          span.loader-item 3
    .gameBoard
      div#wallpaper
      p#versus
      p#ceilingHeader(style='text-align:center;').normP Click on the Hero Card to change its position.
      p#waitingOpponent Waiting for Opponent
      p#abilityAnnounce
      p#goesFirst
      div#cards
        img#yourFirst(data-first=first, src='images/heroes/'+first+'.jpg', alt='first hero').card
        p.dmgNumFirst
        img#yourSecond(data-second=second, src='images/heroes/'+second+'.jpg', alt='second hero').card
        p.dmgNumSecond
        img#yourThird(data-third=third, src='images/heroes/'+third+'.jpg', alt='third hero').card
        p.dmgNumThird
        img#yourForth(data-forth=forth, src='images/heroes/'+forth+'.jpg', alt='forth hero').card
        p.dmgNumForth
        img#yourFifth(data-fifth=fifth, src='images/heroes/'+fifth+'.jpg', alt='fifth hero').card
        p.dmgNumFifth
        img#topGrass(src='images/grass.jpg', alt='grass').card
        img#botoneGrass(src='images/grass.jpg', alt='grass').card
        img#bottwoGrass(src='images/grass.jpg', alt='grass').card
        img#botthreeGrass(src='images/grass.jpg', alt='grass').card
        img#enemyFirst(data-first='', src='images/emptycard.jpg', alt='first hero').card
        p.dmgNumenemyFirst
        img#enemySecond(data-second='', src='images/emptycard.jpg', alt='second hero').card
        p.dmgNumenemySecond
        img#enemyThird(data-third='', src='images/emptycard.jpg', alt='third hero').card
        p.dmgNumenemyThird
        img#enemyForth(data-forth='', src='images/emptycard.jpg', alt='forth hero').card
        p.dmgNumenemyForth
        img#enemyFifth(data-fifth='', src='images/emptycard.jpg', alt='fifth hero').card
        p.dmgNumenemyFifth
      #gameReadyFoota.footer.navbar-fixed-bottom
        .col-md-4
          p#yourName
        .col-md-4
          p#ready(data-readiness='false') Ready
        .col-md-4
          p#enemyName



      #foota.footer.navbar-fixed-bottom
        .col-md-2
          p#turnTimer Time: 

        .col-md-2
          p#footList
            p#armoryLink(href='#armory').link Armory

        .col-md-2
          p#footList
            p#inventoryLink(href='#inventory').link Inventory

        .col-md-2
          p#footList
            p#optionsLink(href='#options').link Options

        .col-md-2
          p#footList
            p#surrender.link Surrender

        .col-md-2
          p#footList
            p#endturnLink.link End Turn

      .container
        .tab-content
          #options.tab-pane.fade.in
            div.inside.mCustomScrollbar(data-mcs-theme="minimal")
              p#gameTitle Legacy of the Sun
              div.cssload-clock
              p.footHeader Volume
              div#volBar
                .volume(title='Set volume')
                  i#muteIcon.glyphicon.glyphicon-volume-off
                  span(style='z-index:0;').volumeBar
              button#turnoff.btn.btn-default Emotes Off
              button#turnon.btn.btn-default Emotes On
              br
              br
              br
              div#emoteList
                p#gg.pemote GG
                p#glhf.pemote GL HF
                p#wow.pemote Wow
                p#nice.pemote Nice
                p#lol.pemote lol
                p#rip.pemote RIP
                p#thanks.pemote Thanks
                p#flip1.pemote Flip Table
                p#flip2.pemote Restore Table
              br
          #armory.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Armory
              br
              div#armoryHeader
                img.abilityCard(src='../images/icons/gold.png', alt='gold', height='64', width='64', style='float:left;')
                br
                p.normP Gold: 0
              br
              br
              #boardsword.well
                img.itemCard(src='../images/icons/sword.jpg', alt='Broadsword', height='42', width='42', style='float:left;')
                p.iTitle Broadsword
                p.iCost Cost: 200 Gold
                p.iCost Weapon Slot
                p.iP Requires level 1
                p.iP Increases damage of Hero Abilities by 20
              #greatsword.well
                img.itemCard(src='../images/icons/greatsword.jpg', alt='Greatsword', height='42', width='42', style='float:left;')
                p.iTitle Greatsword
                p.iCost Cost: 1000 Gold
                p.iCost Weapon Slot
                p.iP Requires level 4
                p.iP Increases damage of Hero Abilities by 50
              #Battleaxe.well
                img.itemCard(src='../images/icons/axe.jpg', alt='Battle Axe', height='42', width='42', style='float:left;')
                p.iTitle Battle Axe
                p.iCost Cost: 2000 Gold
                p.iCost Weapon Slot
                p.iP Requires level 7
                p.iP Increases damage of Hero Abilities by 90
              #LeatherArmor.well
                img.itemCard(src='../images/icons/leather.jpg', alt='Leather Armor', height='42', width='42', style='float:left;')
                p.iTitle Leather Armor
                p.iCost Cost: 200 Gold
                p.iCost Armor Slot
                p.iP Requires level 1
                p.iP Increases health by 150
              #TravelerCloak.well
                img.itemCard(src='../images/icons/robe.jpg', alt="Traveler's Cloak", height='42', width='42', style='float:left;')
                p.iTitle Traveller's Cloak
                p.iCost Cost: 250 Gold
                p.iCost Armor Slot
                p.iP Requires level 1
                p.iP Increases health by 75 and mana by 120.
              #Ringmail.well
                img.itemCard(src='../images/icons/chainmail.jpg', alt='Ring Mail', height='42', width='42', style='float:left;')
                p.iTitle Ring Mail
                p.iCost Cost: 800 Gold
                p.iCost Armor Slot
                p.iP Requires level 3
                p.iP Increases health by 350
              #Magerobe.well
                img.itemCard(src='../images/icons/magerobe.jpg', alt="Mage Robe", height='42', width='42', style='float:left;')
                p.iTitle Mage Robe
                p.iCost Cost: 900 Gold
                p.iCost Armor Slot
                p.iP Requires level 4
                p.iP Increases health by 200 and mana by 255.
              #Splintmail.well
                img.itemCard(src='../images/icons/splintmail.jpg', alt='Splinted Mail', height='42', width='42', style='float:left;')
                p.iTitle Splinted Mail
                p.iCost Cost: 1500 Gold
                p.iP Requires level 6
                p.iP Increases health by 650
              #Mystic.well
                img.itemCard(src='../images/icons/mystic.jpg', alt="Mystic Cloth", height='42', width='42', style='float:left;')
                p.iTitle Mystic Cloth
                p.iCost Cost: 1900 Gold
                p.iCost Armor Slot
                p.iP Requires level 7
                p.iP Increases health by 350 and mana by 400.
              #Plate.well
                img.itemCard(src='../images/icons/plate.jpg', alt='Plate Armor', height='42', width='42', style='float:left;')
                p.iTitle Plate Armor
                p.iCost Cost: 2700 Gold
                p.iCost Armor Slot
                p.iP Requires level 8
                p.iP Increases health by 900
              #Slainking.well
                img.itemCard(src='../images/icons/slainking.jpg', alt='Armor of the Slain King', height='42', width='42', style='float:left;')
                p.iTitleEpic Armor of the Slain King
                p.iCost Cost: 4000 Gold
                p.iCost Armor Slot
                p.iP Requires level 10
                p.iDesc They once belonged to a young Fredrick Mansor who was captured and executed by his own people, passed down from generations and generations until now, where the names of royalty have been liberated from its shining surface. The dead king wails through the steel upon each clash.
                p.iP Increases health by 800 and provides 50 health regeneration each turn. On receiving damage, ability damage is increased by 25 for a maximum of 8 stacks. The stacks last indefinitely and reset on death.
              #Dragonsong.well
                img.itemCard(src='../images/icons/dragonsong.jpg', alt='Dragonsong', height='42', width='42', style='float:left;')
                p.iTitleEpic Dragonsong
                p.iCost Cost: 3900 Gold
                p.iCost Weapon Slot
                p.iP Requires level 10
                p.iDesc The blade the prophesied Dragoid Marivanna used to fight the Vori. When she had neared victory and approached to deliver the final strike, the sword ultimately betrayed her, heating up to the temperature of the sun. Even her own dragonskin could not withstand such burns. No one knows the origin of the blade but some suspect that it is older than the Vale itself.
                p.iP Increases ability damage by 500. If the Hero Card's ability fails to slay its target, the Hero Card with Dragonsong cannot perform any actions for 2 additional turns. Does not apply to abilities that do not deal damage to an enemy target.
              #Timekeepersprism.well
                img.itemCard(src='../images/icons/prism.jpg', alt="Timekeeper's Prism", height='42', width='42', style='float:left;')
                p.iTitleEpic Timekeeper's Prism
                p.iCost Cost: 3700 Gold
                p.iCost Relic Slot
                p.iP Requires level 10
                p.iDesc An element used by the Timekeepers that disperses white light into a colorful spectrum of different lightwaves.
                p.iP Increases mana by 150 and reduces resurrection time by 50%.
              #Bandages.well
                img.itemCard(src='../images/icons/bandage.jpg', alt='Bandages', height='42', width='42', style='float:left;')
                p.iTitleEpic Bandages
                p.iCost Cost: 2000 Gold
                p.iCost Relic Slot
                p.iP Requires level 10
                p.iDesc The linens used by the Levethians to treat wounds and injuries.
                p.iP Regenerate 150 health and 80 mana per turn.
              br
          #inventory.tab-pane.fade.in
            div.heroDescript.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Inventory
              br
              p(style='text-align:center;').normP Empty




          #Alycia.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Alycia
              p#alycialvl.herolevel
              div#Alyciabuffs
              div#Alyciadebuffs
              div#armoryHeader
                br
                .progress
                  #Alyciahealth.progress-bar.progress-bar-success(role='progressbar', aria-valuenow="500", aria-valuemin="0", aria-valuemax="500", style="width:100%")
                  span#Alyciahealthtext
                  #AlyciahealthMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="500", style="width:0%")
                .progress
                  #Alyciamana.progress-bar.progress-bar-info(role='progressbar', aria-valuenow="150", aria-valuemin="0", aria-valuemax="150", style="width:100%")
                  span#Alyciamanatext
                  #AlyciamanaMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="150", aria-valuemin="0", aria-valuemax="150", style="width:0%")
                .progress
                  #Alyciaexp.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                  span#Alyciaexptext
                br
                div.heroActions
                  p#alyciaaction.actionList
                  a#alyciastop.btn.btn-default.btn-lg(href='#').stop
                    span(style='color:#cc0000; font-size:1.5em;').glyphicon.glyphicon-ban-circle
                br
                br
                br
                br
              br
              div.abilities
                #bladestrike.well
                  img.abilityCard(src='../images/icons/bladestrike.png', alt='bladestrike', height='42', width='42', style='float:left;')
                  p.iTitle Blade Strike
                  p.iCost Initial
                  p.iP Requires level 1
                  p.iP Deal 35 damage with a 15% to stun the enemy target for one turn.
                  br
                #faith.well
                  img.abilityCard(src='../images/icons/faith.png', alt='faith', height='42', width='42', style='float:left;')
                  p.iTitle Faith
                  p.iMana Cost: 30 Mana
                  p.iCost Cooldown: 2 turns 
                  p.iP Requires level 2
                  p.iP Heal yourself for 120 health.
                  br
                #selfflagellation.well
                  img.abilityCard(src='../images/icons/selfflagellation.png', alt='self flagellation', height='42', width='42', style='float:left;')
                  p.iTitle Self-Flagellation
                  p.iCost Cooldown: 1 turn
                  p.iP Requires level 3
                  p.iP Deal 5% of your maximum health as damage to yourself and gain 20 mana.
                #raiseshield.well
                  img.abilityCard(src='../images/icons/raiseshield.png', alt='raise shield', height='42', width='42', style='float:left;')
                  p.iTitle Raise Shield
                  p.iMana Mana Cost: 40 Mana
                  p.iCost Cooldown: 3 turns
                  p.iP Requires level 4
                  p.iP Enemy abilities targeted to your Hero Cards positioned behind Alycia will be redirected to her.
                #lightinfusion.well
                  img.abilityCard(src='../images/icons/lightinfusion.png', alt='light infusion', height='42', width='42', style='float:left;')
                  p.iTitle Light Infusion
                  p.iCost Ultimate
                  p.iMana Mana Cost: 100 Mana
                  p.iCost Cooldown: 7 turns
                  p.iCost Duration: 3 turns
                  p.iP Requires level 7
                  p.iP Any damage Alycia takes will be shared with the targeted enemy for the duration.



          #Elle.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Elle
              p#ellelvl.herolevel
              div#Ellebuffs
              div#Elledebuffs
              div#armoryHeader
                br
                .progress
                  #Ellehealth.progress-bar.progress-bar-success(role='progressbar', aria-valuenow="375", aria-valuemin="0", aria-valuemax="375", style="width:100%")
                  span#Ellehealthtext
                  #EllehealthMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="375", style="width:0%")
                .progress
                  #Ellemana.progress-bar.progress-bar-info(role='progressbar', aria-valuenow="180", aria-valuemin="0", aria-valuemax="180", style="width:100%")
                  span#Ellemanatext
                  #EllemanaMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="180", style="width:0%")
                .progress
                  #Elleexp.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                  span#Elleexptext
                br
                div.heroActions
                  p#elleaction.actionList
                  a#ellestop.btn.btn-default.btn-lg(href='#').stop
                    span(style='color:#cc0000; font-size:1.5em;').glyphicon.glyphicon-ban-circle
                br
                br
                br
                br
              br
              div.abilities
                #ironarrow.well
                  img.abilityCard(src='../images/icons/ironarrow.png', alt='Iron Arrow', height='42', width='42', style='float:left;')
                  p.iTitle Iron Arrow
                  p.iCost Initial
                  p.iP Requires level 1
                  p.iP Deal 45 damage to an enemy target.
                  br
                #prowl.well
                  img.abilityCard(src='../images/icons/prowl.png', alt='Prowl', height='42', width='42', style='float:left;')
                  p.iTitle Prowl
                  p.iMana Cost: 50 Mana
                  p.iCost Cooldown: 6 turns 
                  p.iCost Duration: 2 turns 
                  p.iP Requires level 2
                  p.iP Prevent enemy abilities from targeting you for the duration. You may use abilities without breaking this effect.
                  br
                #piercingarrow.well
                  img.abilityCard(src='../images/icons/piercingarrow.png', alt='Piercing Arrow', height='42', width='42', style='float:left;')
                  p.iTitle Piercing Arrow
                  p.iMana Cost: 60 Mana
                  p.iCost Cooldown: 2 turns
                  p.iP Requires level 3
                  p.iP Deals 60 damage to an enemy target and to all enemy Hero Cards positioned behind the target.
                #deepwounds.well
                  img.abilityCard(src='../images/icons/deepwounds.png', alt='Deep Wounds', height='42', width='42', style='float:left;')
                  p.iTitle Deep Wounds
                  p.iCost Passive
                  p.iMana Mana Cost: 40 Mana
                  p.iCost Cooldown: 3 turns
                  p.iP Requires level 4
                  p.iP Iron Arrow and Piercing Arrow adds a stack of Wounds to the enemy target, increasing the damage of subsequent Iron Arrow and Piercing Arrow to the target by 40 for a maximum of 3 stacks.
                #psychopathy.well
                  img.abilityCard(src='../images/icons/psychopathy.png', alt='psychopathy', height='42', width='42', style='float:left;')
                  p.iTitle Psychopathy
                  p.iCost Ultimate
                  p.iMana Mana Cost: 130 Mana
                  p.iCost Cooldown: 5 turns
                  p.iP Requires level 7
                  p.iP Deals 150x(number of Wounds stacks) to afflicted enemy Hero Cards and removes all stacks of Wounds from all enemies.



          #Draconis.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Draconis
              p#draconislvl.herolevel
              div#Draconisbuffs
              div#Draconisdebuffs
              div#armoryHeader
                br
                .progress
                  #Draconishealth.progress-bar.progress-bar-success(role='progressbar', aria-valuenow="450", aria-valuemin="0", aria-valuemax="450", style="width:100%")
                  span#Draconishealthtext
                  #DraconishealthMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="450", style="width:0%")
                .progress
                  #Draconismana.progress-bar.progress-bar-info(role='progressbar', aria-valuenow="160", aria-valuemin="0", aria-valuemax="160", style="width:100%")
                  span#Draconismanatext
                  #DraconismanaMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="160", style="width:0%")
                .progress
                  #Draconisexp.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                  span#Draconisexptext
                br
                div.heroActions
                  p#draconisaction.actionList
                  a#draconisstop.btn.btn-default.btn-lg(href='#').stop
                    span(style='color:#cc0000; font-size:1.5em;').glyphicon.glyphicon-ban-circle
                br
                br
                br
                br
              br
              div.abilities
                #cleave.well
                  img.abilityCard(src='../images/icons/cleave.png', alt='Cleave', height='42', width='42', style='float:left;')
                  p.iTitle Cleave
                  p.iCost Initial
                  p.iP Requires level 1
                  p.iP Deal 40 damage to all enemy Hero Cards.
                  br
                #charge.well
                  img.abilityCard(src='../images/icons/charge.png', alt='Charge', height='42', width='42', style='float:left;')
                  p.iTitle Charge
                  p.iMana Cost: 25 Mana
                  p.iCost Cooldown: 2 turns 
                  p.iCost Duration: 2 turns 
                  p.iP Requires level 2
                  p.iP Increases the damage of the next cleave for the front positioned enemy card by 80.
                  br
                #whirlwind.well
                  img.abilityCard(src='../images/icons/whirlwind.png', alt='Whirlwind', height='42', width='42', style='float:left;')
                  p.iTitle Whirlwind
                  p.iCost Passive
                  p.iP Requires level 3
                  p.iP Provides Cleave with a 40% to strike twice.
                #warcry.well
                  img.abilityCard(src='../images/icons/warcry.png', alt='War Cry', height='42', width='42', style='float:left;')
                  p.iTitle War Cry
                  p.iMana Mana Cost: 60 Mana
                  p.iCost Cooldown: 6 turns
                  p.iCost Cooldown: 3 turns
                  p.iP Requires level 4
                  p.iP Provides himself and all adjacent allied Hero Cards 35% damage reduction for the duration.
                #dragonfury.well
                  img.abilityCard(src='../images/icons/dragonfury.png', alt='Dragon Fury', height='42', width='42', style='float:left;')
                  p.iTitle Dragon Fury
                  p.iCost Ultimate
                  p.iMana Mana Cost: 120 Mana
                  p.iCost Cooldown: 2 turns
                  p.iP Requires level 7
                  p.iP Provides the next Cleave (including Whirlwind) with tripled damage calculated after damage boosts from equipped items.



          #Fontaine.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Fontaine
              p#fontainelvl.herolevel
              div#Fontainebuffs
              div#Fontainedebuffs
              div#armoryHeader
                br
                .progress
                  #Fontainehealth.progress-bar.progress-bar-success(role='progressbar', aria-valuenow="425", aria-valuemin="0", aria-valuemax="425", style="width:100%")
                  span#Fontainehealthtext
                  #FontainehealthMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="425", style="width:0%")
                .progress
                  #Fontainemana.progress-bar.progress-bar-info(role='progressbar', aria-valuenow="180", aria-valuemin="0", aria-valuemax="180", style="width:100%")
                  span#Fontainemanatext
                  #FontainemanaMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="180", style="width:0%")
                .progress
                  #Fontaineexp.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                  span#Fontaineexptext
                br
                div.heroActions
                  p#fontaineaction.actionList
                  a#fontainestop.btn.btn-default.btn-lg(href='#').stop
                    span(style='color:#cc0000; font-size:1.5em;').glyphicon.glyphicon-ban-circle
                br
                br
                br
                br
              br
              div.abilities
                #lunge.well
                  img.abilityCard(src='../images/icons/lunge.png', alt='Lunge', height='42', width='42', style='float:left;')
                  p.iTitle Lunge
                  p.iCost Initial
                  p.iP Requires level 1
                  p.iP Deal 40 damage to the enemy target.
                  br
                #sabotage.well
                  img.abilityCard(src='../images/icons/sabotage.png', alt='Sabotage', height='42', width='42', style='float:left;')
                  p.iTitle Sabotage
                  p.iMana Cost: 40 Mana
                  p.iCost Cooldown: 5 turns
                  p.iCost Duration: 2 turns
                  p.iP Requires level 2
                  p.iP Prevent the enemy target from using any abilities except their initial.
                  br
                #misdirect.well
                  img.abilityCard(src='../images/icons/misdirect.png', alt='Misdirect', height='42', width='42', style='float:left;')
                  p.iTitle Misdirect
                  p.iMana Cost: 35 Mana
                  p.iCost Cooldown: 3 turns
                  p.iP Requires level 3
                  p.iP Shuffle the enemy target's selected ability to use another one of its abilities randomly.
                #bounty.well
                  img.abilityCard(src='../images/icons/contract.png', alt='Bounty', height='42', width='42', style='float:left;')
                  p.iTitle Bounty
                  p.iMana Mana Cost: 110 Mana
                  p.iCost Cooldown: 4 turns
                  p.iCost Duration: 2 turns
                  p.iP Requires level 4
                  p.iP If the enemy Hero Card is slain while under the effect of Bounty, the awarded gold will increase by 300.
                #bribery.well
                  img.abilityCard(src='../images/icons/bribery.png', alt='Bribery', height='42', width='42', style='float:left;')
                  p.iTitle Bribery
                  p.iCost Ultimate
                  p.iMana Mana Cost: 140 Mana
                  p.iCost Cooldown: 8 turns
                  p.iP Requires level 7
                  p.iP Prevent the opponent from taking the next turn.



          #Spectra.tab-pane.fade.in
            div.iteminside.mCustomScrollbar(data-mcs-theme="minimal")
              p.head1 Spectra
              p#spectralvl.herolevel
              div#Spectrabuffs
              div#Spectradebuffs
              div#armoryHeader
                br
                .progress
                  #Spectrahealth.progress-bar.progress-bar-success(role='progressbar', aria-valuenow="380", aria-valuemin="0", aria-valuemax="380", style="width:100%")
                  span#Spectrahealthtext
                  #SpectrahealthMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="380", style="width:0%")
                .progress
                  #Spectramana.progress-bar.progress-bar-info(role='progressbar', aria-valuenow="225", aria-valuemin="0", aria-valuemax="225", style="width:100%")
                  span#Spectramanatext
                  #SpectramanaMiss.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow="0", aria-valuemin="0", aria-valuemax="225", style="width:0%")
                .progress
                  #Spectraexp.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                  span#Spectraexptext
                br
                div.heroActions
                  p#spectraaction.actionList
                  a#spectrastop.btn.btn-default.btn-lg(href='#').stop
                    span(style='color:#cc0000; font-size:1.5em;').glyphicon.glyphicon-ban-circle
                br
                br
                br
                br
              br
              div.abilities
                #heartache.well
                  img.abilityCard(src='../images/icons/heartache.png', alt='Heartache', height='42', width='42', style='float:left;')
                  p.iTitle Heartache
                  p.iCost Initial
                  p.iP Requires level 1
                  p.iP Deal 30 damage to the enemy target each turn. Can be applied to multiple targets.
                  br
                #madness.well
                  img.abilityCard(src='../images/icons/madness.png', alt='Madness', height='42', width='42', style='float:left;')
                  p.iTitle Madness
                  p.iMana Cost: 70 Mana
                  p.iP Requires level 2
                  p.iP Deal 110 damage to an enemy target.
                  br
                #grievance.well
                  img.abilityCard(src='../images/icons/grievance.png', alt='Grievance', height='42', width='42', style='float:left;')
                  p.iTitle Grievance
                  p.iCost Cooldown: 1 turn
                  p.iP Requires level 3
                  p.iP Deal 40 damage to yourself and restore 130 mana.
                #spitefulpleasure.well
                  img.abilityCard(src='../images/icons/spiteful.png', alt='Spiteful Pleasure', height='42', width='42', style='float:left;')
                  p.iTitle Spiteful Pleasure
                  p.iCost Passive
                  p.iP Requires level 4
                  p.iP Damage dealt by Heartache heals the Mistress for the same amount.
                #destruction.well
                  img.abilityCard(src='../images/icons/destruction.png', alt='Destruction', height='42', width='42', style='float:left;')
                  p.iTitle Destruction
                  p.iCost Ultimate
                  p.iMana Mana Cost: 225 Mana
                  p.iCost Cooldown: 4 turns
                  p.iP Requires level 7
                  p.iP The damage of the next Madness is multiplied by your current level.






    #victoryModal(data-backdrop="static", data-keyboard="false").modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #00cc00; font-size: 3em;')
              i.glyphicon.glyphicon-flag
            div(style="position: relative; left: 15px; top: 7px; font-family: 'optimusPrinceps'; font-size: 2.5em;")
              p Victory!
            br
            p#victorydescript.pWhite You have won the match!
            br
            form(action="/dashboard", method="get")
              .form-group
                button.btn.btn-default(type='submit') Ok
    #defeatModal(data-backdrop="static", data-keyboard="false").modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #ff1a1a; font-size: 3em;')
              i.glyphicon.glyphicon-flag
            div(style="position: relative; left: 15px; top: 7px; font-family: 'optimusPrinceps'; font-size: 2.5em;")
              p Defeat!
            br
            p#defeatdescript.pWhite You have lost the match!
            br
            form(action="/dashboard", method="get")
              .form-group
                button.btn.btn-default(type='submit') Ok
    #confirmModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e6b800; font-size: 3em;')
              i.glyphicon.glyphicon-warning-sign
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Confirmation
            br
            p.pWhite This match will be recorded as a loss.
            br
            button#confirm.btn.btn-warning(data-dismiss='modal') Surrender
            br
            br
            button.btn.btn-default(data-dismiss='modal') Cancel
    #dupsModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e6b800; font-size: 3em;')
              i.glyphicon.glyphicon-warning-sign
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Duplicate Card
            br
            p.pWhite You may not have duplicate Hero Cards on the board.
            br
            button#confirm.btn.btn-default(data-dismiss='modal') Ok
    #endturnModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e6b800; font-size: 3em;')
              i.glyphicon.glyphicon-warning-sign
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title End Turn
            br
            p.pWhite Please confirm that you wish to end your turn.
            br
            button#confirmEnd.btn.btn-default(data-dismiss='modal') End Turn