doctype html
html
  head 
  meta(charset='UTF-8')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/user.css')

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='/js/index.js')
  

  body
    -if(message.length > 0)
      div#message #{message}
    div#wallpaper
    nav.navbar.navbar-default(role='navigation')
      br
      a#mainTitle.navbar-brand(href='/')
        | Legacy of the Sun
      .container
        .navbar-header
          a#menu-toggle.navbar-toggle(href='#')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #sidebar-wrapper.sidebar-toggle
          ul.sidebar-nav
            br
            li.news
              a(data-toggle='tab', href='#news') News
            li.login
              a(data-toggle='tab', href='#login') Login
            li.signup
              a(data-toggle='tab', href='#signup') Signup
            li.guide
              a(data-toggle='tab', href='#guide') Guide
            li.boards
              a(href='/boards') Boards
            li.about
              a(data-toggle='tab', href='#about') About Us
    .container
      .tab-content
        #news.tab-pane.fade.in.active
          div.heroDescript
            p.indexHead News
            br
            .well
              p.indexSub Welcome!
              p UI build is up and running.
          br
          br
        #login.tab-pane.fade.in
          div#loggingIn
            p.indexHead Login
            form#loginForm(action="/login", method="get", style="padding-left:10px;padding-right:10px;padding-top:10px;")
              .form-group
                -if(message.length > 0)
                  .col-sm-12
                    p#logError.pError #{message}
                .col-sm-6
                  label.loginText(for='InputUsername') Username
                  input#loginInputUsername.form-control(autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Enter username', type='text', name='username', required)
                .col-sm-6
                  label.loginText(for='InputPassword') Password
                  input#loginInputPassword.form-control(placeholder='Enter password', type='password', name='password', required)
                  br
                  br
                .col-sm-12
                  p.loginText
                    | Forgot your password? 
                    a#passForgot(href='#') Click here
                    | .
                .col-sm-12
                  label#flashlabel.loginText
                    input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
                    |  Remember username
                  br
                  br
                .col-sm-12
                  button.btn.btn-success(type="submit") Login
          br
          br
        #signup.tab-pane.fade.in
          div#loggingIn
            p.indexHead Signup
              form#loginForm(action="/signup", method="post", style="padding-left:10px;padding-right:10px;padding-top:10px;")
                .form-group
                  -if(message.length > 0)
                    .col-sm-12
                      p#signError.pError #{message}
                  .col-sm-6
                    label.loginText(for='InputUsername') Username
                    input#InputUsername.form-control(autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Create username', type='text', name='username', required)
                  .col-sm-6
                    label.loginText(for='InputEmail') Email
                    input#InputEmail.form-control(autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Enter email', type='text', name='email', email, required)
                  .col-sm-6
                    label.loginText(for='InputPassword') Password
                    input#InputPassword.form-control(placeholder='Create password', type='password', name='password', required)
                  .col-sm-6
                    label.loginText(for='ConfInputPassword') Confirm Password
                    input#InputPassword2.form-control(placeholder='Create password', type='password', name='confpassword', required)
                    br
                    br
                    br
                  .col-sm-6
                    button.btn.btn-success(type="submit") Submit
                    br
                    br
                    p.loginText
                      | By registering, I accept the 
                      a#passForgot(href='#') terms and conditions
                      | .
          br
          br
        #guide.tab-pane.fade.in
          div.heroDescript
            p.indexHead Guide
              br
              br
              p.p1 Welcome to the Legacy of the Sun Card Game. Whether you're a new player, or a veteran looking to hone their skills, be sure to check out the latest guides and strategies posted on the guide boards!
              br
              b.p1 How do I begin playing?
              br
              p.p1 New players can start by signing up on the left signup tab. Once you have your account created, you should set your hand, choosing five cards from the heroes panel to place into your hand. These are the cards you'll be using in a game. At any time outside of a game, you can choose to swap out cards for others. You can press matchmaking to search for a game.
              br
              b.p1 What is the goal?
              br
              p.p1 Both you and your opponent start the game by placing down five Hero Cards on the board. Once the match begins, the goal is to eliminate all of the opponents cards through turn based attacks. If a Hero Card falls, it may come back into play after a number of turns. All of the opponent's Hero Cards must fall to achieve victory.
              br
              b.p1 What do the different positions on the board mean?
              br
              p.p1 The positions grant experience to the Hero Cards each turn, with the front most position granting the most experience per turn, followed by two middle giving less, and the last two giving the least amount of experience per turn. Generally, you should place the Hero Card that has the most late game scaling at the front position.
              br 
              b.p1 How do I play the game?
              br
              p.p1 Each turn you may choose to perform a Hero Card's ability for all five of your Hero Cards. All Hero Cards begin with an initial ability. The other abilities require the Hero Card to reach a certain level to use. There are many different abilities so be sure to read them all carefully and devise a strategy. Initial abilities are free to use, however other abilities cost mana. All Hero Cards regenerate mana each turn and you will also receive a small amount of gold as well. If you successfully destroy an enemy Hero Card, you will be awarded with additional gold which can be used to purchase items ingame to further boost your advantage. If you feel that a loss is inevitable, you may surrender the match and give the victory to your opponent.
              br
              b.p1 Facts
              br
              p.p1 The order in which Hero Cards perform their abilities is always the same. The lone Hero Card on the third column goes first. The bottom of the second column goes after, followed by the top of the second column. Lastly, the bottom of the first column goes, followed by the top of the first column.
              br
              p.p1 If a Hero Card is repeatedly targeted throughout a turn, subsequent abilities after the first ability will deal less damage due to scaling. A single target ability will reduce the following ability damage by 15%. Focusing one enemy Hero Card for all five abilities in a turn can lead to a 60% damage reduction for the final ability. Abilities that deal damage to multiple targets, as well as damage applied from debuffs, do not suffer damage reduction penalities. However, they will still apply the default 15% damage reduction. At the end of each turn, the damage scaling for every hero card is reset.
              br
              p.p1 Best of luck!
              a#newbie(data-toggle="pill", href='#signup') Click here to register
              br
            br
          br
          br
        #about.tab-pane.fade.in
          div.heroDescript
            p.indexHead About Us
            br
            p.p3 Tony H. Lee
            img(src='images/about/TonyGoat.jpg', alt='Tony', height='200', width='300' style="border-style: outset; border-width: 5px;")
            p.p3 University of Toronto
            p.p3 Developer
            br
            br
            p.p3 Music By: Adrian von Ziegler
          br
          br