doctype html
html
  head 
  meta(charset='UTF-8')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/user.css')


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='/js/user.js')
  

  body
    input#refresh(type='hidden', value='no')
    div#handCards(data-total=totalgames, data-wins=wins, data-losses=losses, data-sound=sound, data-first=first, data-second=second, data-third=third, data-forth=forth, data-fifth=fifth)
    div#wallpaper
    nav.navbar.navbar-default(role='navigation')
      br
      a#mainTitle.navbar-brand(href='/dashboard')
        | Legacy of the Sun
      .container
        .navbar-header
          a#menu-toggle.navbar-toggle(href='#')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #sidebar-wrapper.sidebar-toggle
          ul.sidebar-nav
            li.volumeCont
              .volume(title='Set volume')
                i#muteIcon.glyphicon.glyphicon-volume-off
                span(style='z-index:0;').volumeBar
            br
            br
            li.mm
              a(data-toggle='tab', href='#mm') Matchmaking
            li.hand
              a(data-toggle='tab', href='#hand') Hand
            li.cards
              a(data-toggle='tab', href='#cards') Cards
            li.store
              a(data-toggle='tab', href='#store') Store
            li.profile
              a(data-toggle='tab', href='#profile') Profile
            li.kaylea
              a(data-toggle='tab', href='#kaylea')
            li.ashea
              a(data-toggle='tab', href='#ashea')
            li.jarvana
              a(data-toggle='tab', href='#jarvana')
            li.garena
              a(data-toggle='tab', href='#garena')
            li.leblanca
              a(data-toggle='tab', href='#leblanca')
            li.boards
              a(href='/boards') Boards
            li.logout
              a(href='/logout') Logout
    .container
      .tab-content
        #mm.tab-pane.fade.in
          div.inside
            p.head1 Select Mode
            br
            br
            br
            br
            button#ranked(type='submit') Ranked
            button#unranked(type='submit') Unranked
          br
          br
        #hand.tab-pane.fade.in.active
          div.inside
            p.head1 Equipped Hero Cards
            br
            br
            -if(first == 'empty')
                img#firstCard(src='images/emptycard.jpg', alt='Empty slot', height='250', width='200').emptyCard
            -else if(first != 'empty')
                img#firstCard(src='images/heroes/'+first+'.jpg', alt=first, height='250', width='200').emptyCard

            -if(second == 'empty')
                img#secondCard(src='images/emptycard.jpg', alt='Empty slot', height='250', width='200').emptyCard
            -else if(second != 'empty')
                img#secondCard(src='images/heroes/'+second+'.jpg', alt=second, height='250', width='200').emptyCard

            -if(third == 'empty')
                img#thirdCard(src='images/emptycard.jpg', alt='Empty slot', height='250', width='200').emptyCard
            -else if(third != 'empty')
                img#thirdCard(src='images/heroes/'+third+'.jpg', alt=third, height='250', width='200').emptyCard

            -if(forth == 'empty')
                img#forthCard(src='images/emptycard.jpg', alt='Empty slot', height='250', width='200').emptyCard
            -else if(forth != 'empty')
                img#forthCard(src='images/heroes/'+forth+'.jpg', alt=forth, height='250', width='200').emptyCard

            -if(fifth == 'empty')
                img#fifthCard(src='images/emptycard.jpg', alt='Empty slot', height='250', width='200').emptyCard
            -else if(fifth != 'empty')
                img#fifthCard(src='images/heroes/'+fifth+'.jpg', alt=fifth, height='250', width='200').emptyCard
          br
          br
        #cards.tab-pane.fade.in
          div.inside
            p.head1 Heroes
            br
            br
            img#Alycia(src='images/heroes/Alycia.jpg', alt='Alycia', height='250', width='200').heroCard
            img#Elle(src='images/heroes/Elle.jpg', alt='Elle', height='250', width='200').heroCard
            img#Draconis(src='images/heroes/Draconis.jpg', alt='Draconis', height='250', width='200').heroCard
            img#Fontaine(src='images/heroes/Fontaine.jpg', alt='Fontaine', height='250', width='200').heroCard
            img#Spectra(src='images/heroes/Spectra.jpg', alt='Spectra', height='250', width='200').heroCard
            img#leona(src='images/heroes/leona.jpg', alt='Leona', height='250', width='200').heroCard
            img#malz(src='images/heroes/malz.jpg', alt='Malz', height='250', width='200').heroCard
            img#nidalee(src='images/heroes/nidalee.jpg', alt='Nidalee', height='250', width='200').heroCard
            img#olaf(src='images/heroes/olaf.jpg', alt='Olaf', height='250', width='200').heroCard
            img#talon(src='images/heroes/talon.jpg', alt='Talon', height='250', width='200').heroCard
            img#zed(src='images/heroes/zed.jpg', alt='Zed', height='250', width='200').heroCard
            img#mf(src='images/heroes/mf.jpg', alt='Mf', height='250', width='200').heroCard
          br
          br
        #store.tab-pane.fade.in
          div.inside
            p.head1 The Market
            br
            p.heroSub Sword - 5 Coins
            p.heroSub Shield - 10 Copper
          br
          br
        #profile.tab-pane.fade.in
          div.heroDescript
            p#username(style='text-align:center;').head1 #{username}
            br
            br
            p(style='font-size: 4em;').heroSub Ranked
            p#ratioDescript.heroSub Win Ratio
            p#ratio.heroSub
            br
            br
            p.heroSub Total Games: #{totalgames}
            p.heroSub Wins: #{wins}
            p.heroSub Losses: #{losses}
            br
            p(style='font-size: 4em;').heroSub Unranked
            p.heroSub Total Games: #{UNRtotal}
            p.heroSub Wins: #{UNRwins}
            p.heroSub Losses: #{UNRlosses}
          br
          br


        #kaylea.tab-pane.fade.in
          div#kayleaDescript.heroDescript
          br
          br
        #ashea.tab-pane.fade.in
          div#asheaDescript.heroDescript
          br
          br
        #jarvana.tab-pane.fade.in
          div#jarvanaDescript.heroDescript
          br
          br
        #garena.tab-pane.fade.in
          div#garenaDescript.heroDescript
          br
          br
        #leblanca.tab-pane.fade.in
          div#leblancaDescript.heroDescript
          br
          br
    #errorModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e6b800; font-size: 3em;')
              i.glyphicon.glyphicon-warning-sign
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Empty Hero Card
            br
            p.pWhite You must fill all empty Hero Card slots in your Hand before continuing.
            br
            button#confirm.btn.btn-default(data-dismiss='modal') Ok
    #dupsModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e6b800; font-size: 3em;')
              i.glyphicon.glyphicon-warning-sign
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Duplicate Card
            br
            p.pWhite You may not have duplicate Hero Cards in your Hand.
            br
            button#confirm.btn.btn-default(data-dismiss='modal') Ok
    #equipModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #00cc00; font-size: 3em;')
              i.glyphicon.glyphicon-ok
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Hero Card Equipped
            br
            p.pWhite Hero Card successfully equipped!
            br
            button#confirm.btn.btn-default(data-dismiss='modal') Ok
    #soundModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            div(style='float: left; color: #e68900; font-size: 3em;')
              i.glyphicon.glyphicon-volume-up
            div(style='position: relative; left: 15px; top: 7px;')
              h4.modal-title Adjust Sound
            br
            p.pWhite You can control the volume of sound with the orange volume bar on top of the matchmaking tab.
            br
            button#soundConfirm.btn.btn-default(data-dismiss='modal') Got it!
