/* jQuery custom content scroller by Malihu */


html {
    height: 100%;
    background-attachment:scroll;
    overflow: auto;
}

body {
  height: 100%;
  padding-right:0px !important;
  margin-right:0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

/************** CUSTOM FONT **************/
@font-face {
   font-family: MagicMedieval; 
   src: url('../fonts/MagicMedieval.ttf');
}

@font-face {
   font-family: HamletOrNot; 
   src: url('../fonts/HamletOrNot.ttf');
} 

@font-face {
   font-family: OptimusPrinceps; 
   src: url('../fonts/OptimusPrinceps.ttf');
}

p {
  cursor: default;
}

/********************************** NUMBER OF DAMAGE ON HERO CARD *******************/

.dmgNumFirst {
  display: none;
}

.dmgNumSecond {
  display: none;
}

.dmgNumThird {
  display: none;
}

.dmgNumForth {
  display: none;
}

.dmgNumFifth {
  display: none;
}

.dmgNumenemyFirst {
  display: none;
}

.dmgNumenemySecond {
  display: none;
}

.dmgNumenemyThird {
  display: none;
}

.dmgNumenemyForth {
  display: none;
}

.dmgNumenemyFifth {
  display: none;
}



/***************************** GENERAL *********************/

.stop {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}
.herolevel {
  font-size: 1.5em;
  font-family: 'OptimusPrinceps';
  color: #FFF;
  text-align: center;
}

.actionList {
  text-align: center;
  font-size: 1.5em;
  font-family: 'OptimusPrinceps';
  color: #FFF;
}
.progress {
  position:relative;
}

.progress span {
  position:absolute;
  left:0;
  top: -3px;
  width:100%;
  text-align:center;
  z-index:2;
  font-family: 'OptimusPrinceps';
  font-size: 1.5em;
  color: #000;
}


#handCards {
  display: none;
}

.card {
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow:0px -4px 10px #135E70, 0px -10px 10px #23E2FF,
   -4px 0px 10px #135E70, -10px 0px 10px #23E2FF, 4px 0px 10px #135E70, 10px 0px 10px #23E2FF,
    0px 4px 10px #135E70, 0px 10px 10px #23E2FF, -10px -10px 10px #23E2FF, 10px 10px 10px #23E2FF,
     -10px 10px 10px #23E2FF, 10px -10px 10px #23E2FF
}

#cards {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
}

#gameTitle {
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
  font-size: 2em;
  text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
}

.abilityCard{
  margin: 10px;
  width: 42px;
  height: 42px;
  cursor: default;
}

.itemCard{
  margin: 10px;
  width: 42px;
  height: 42px;
  border-style: outset;
  border-width: 1px;
  cursor: default;
}

.modal-title {
    font-size: 2em;
}

#footList {
  margin-top: 20px;
  text-align: center;
}

#turnTimer {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  font-family: OptimusPrinceps;
  color: white;
}

.normP {
  font-size: 2.5em;
  font-family: OptimusPrinceps;
  color: white;
}

.well {
  background: #1a1a1a;
}

.iTitle {
  margin-top: 15px;
  font-size: 2em;
  font-family: 'arial';
  color: white;
}

.iTitleEpic {
  margin-top: 15px;
  font-size: 2em;
  font-family: 'arial';
  color: #99ccff;
}

.iCost {
  margin-top: 5px;
  font-size: 1.3em;
  font-family: 'arial';
  color: #f6b522;
}

.iMana {
  margin-top: 5px;
  font-size: 1.3em;
  font-family: 'arial';
  color: #9999ff;
}

.iP {
  margin-top: 5px;
  font-size: 1.2em;
  font-family: 'arial';
  color: white;
}

.iDesc {
  margin-top: 5px;
  font-size: 1em;
  font-family: 'arial';
  color: #999999;
}

#armoryHeader {
  width: 100%;
  border-bottom: solid;
  border-color: white;
  border-width: 2px;
}

.loadTip {
  text-align: center;
  font-family: 'arial';
  color: white;
}

.stat {
  font-size: 1.5em;
  font-family: OptimusPrinceps;
  color: white;
}

.pemote {
  cursor: pointer;
  margin-top: 10px;
  font-size: 2em;
  font-family: OptimusPrinceps;
  color: white;
  outline: none;
}

.link {
  text-align: center;
  transition: text-shadow 0.3s ease;
  font-size: 2em;
  font-family: OptimusPrinceps;
  color: white;
  text-decoration: none;

}

.link:hover {
    text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
  text-decoration: none;
}

#volBar {
  width: 100%
}

#muteIcon {
  display: none;
  color: #000;
  top: 2px; 
  z-index:1;
}

.gameBoard {
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
}

#wallpaper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(46,46,46,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,8,15,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(46,46,46,1)), color-stop(100%, rgba(0,8,15,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,8,15,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,8,15,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,8,15,1) 100%);
background: radial-gradient(ellipse at center, rgba(46,46,46,1) 0%, rgba(0,8,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#00080f', GradientType=1 );

  z-index: -1;
}


/************ CHOOSING POSITIONS ***************/

#ready {
  margin-top:20px;
  text-align: center;
  transition: text-shadow 0.3s ease;
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

#yourName {
  margin-top:20px;
  text-align: center;
  font-family: 'OptimusPrinceps';
  font-size: 3em;
  color: #FFFFFF;
}

#enemyName {
  margin-top:20px;
  text-align: center;
  font-family: 'OptimusPrinceps';
  font-size: 3em;
  color: #FFFFFF;
}

#goesFirst {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 6px #000;
  font-size: 5em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
}

#abilityAnnounce {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 5px #000,
                0 0 10px #000;
  font-size: 3em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
}

#waitingOpponent {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 6px #000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
  animation-name: fade;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}

#ready:hover {
    text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
  text-decoration: none;
}

#cancelReady:hover {
    text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
  text-decoration: none;
}




.footHeader {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

#footButton {
  margin-top: 7px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  outline: none;
  z-index: 10;
}

#turnoff {
  position: relative;
  z-index: 0;
  height: 50px;
  width: 200px;
  font-size: 2.3em;
  font-family: 'OptimusPrinceps';
  border-radius: 0;
  display: none;
  outline: none;
}

#turnon {
  position: relative;
  z-index: 0;
  height: 50px;
  width: 200px;
  font-size: 2.3em;
  font-family: 'OptimusPrinceps';
  border-radius: 0;
  display: none;
  outline: none;
}

.exit {
  position: relative;
  transition: text-shadow 0.3s ease;
  font-size: 2.0em;
  font-family: OptimusPrinceps;
  color: white;
  text-decoration: none;
}

.exit:hover {
  text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
  text-decoration: none;
}


#footButton:hover {
  opacity: 1;
}
.footer {
  position: fixed;
  border-top: ridge;
  border-width: 6px;
  border-color: #999999;;
  background: #1a1a1a;
  min-height: 100px;
}

#searching {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url('../images/landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.searchText {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
  text-shadow: 2px 2px 6px #000;
  font-size: 3em;
  font-family: 'HamletOrNot';
}

.tab-pane {
  width: 100%;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  max-width: 800px;
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  max-width: 800px;
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  max-width: 800px;
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}


/******** GAME BOARD CARD POSITIONING *****/

img {
    width: 12%;
    height: auto;
}

#yourFirst{
  position: absolute;
  left: 2%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourSecond{
  position: absolute;
  left: 16%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourThird{
  position: absolute;
  left: 30%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFirst{
  position: absolute;
  left: 58%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemySecond{
  position: absolute;
  left: 72%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyThird{
  position: absolute;
  left: 86%;
  top: 15%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#topGrass {
  position: absolute;
  left: 44%;
  top: 15%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}






/****** END OF GAME BOARD CARD POSITIONING ******/

.col-md-2 {
  padding: 0;
  margin: 0;
}

.head1 {
  text-align: center;
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'HamletOrNot';
}


@media (max-height: 550px) {
  .searchText {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #000;
    font-size: 3em;
    font-family: 'HamletOrNot';
}

}

/*************** LOADER BY TANIA LD **************/
.cssload-clock{
  display:none;
  border-radius: 58px;
  border: 3px solid rgb(255,255,255);
  height: 78px;
  width: 78px;
  position: relative;
  left: 35%;
  left: calc(50% - 42px);
    left: -o-calc(50% - 42px);
    left: -ms-calc(50% - 42px);
    left: -webkit-calc(50% - 42px);
    left: -moz-calc(50% - 42px);
}
.cssload-clock:after{
  content: "";
  position: absolute;
  background-color: rgb(255,255,255);
  top:2px;
  left: 48%;
  height: 37px;
  width: 4px;
  border-radius: 5px;
  transform-origin: 50% 97%;
    -o-transform-origin: 50% 97%;
    -ms-transform-origin: 50% 97%;
    -webkit-transform-origin: 50% 97%;
    -moz-transform-origin: 50% 97%;
  animation: grdAiguille 2.3s linear infinite;
    -o-animation: grdAiguille 2.3s linear infinite;
    -ms-animation: grdAiguille 2.3s linear infinite;
    -webkit-animation: grdAiguille 2.3s linear infinite;
    -moz-animation: grdAiguille 2.3s linear infinite;
}



.cssload-clock:before{
  content: "";
  position: absolute;
  background-color: rgb(255,255,255);
  top:6px;
  left: 48%;
  height: 34px;
  width: 4px;
  border-radius: 5px;
  transform-origin: 50% 94%;
    -o-transform-origin: 50% 94%;
    -ms-transform-origin: 50% 94%;
    -webkit-transform-origin: 50% 94%;
    -moz-transform-origin: 50% 94%;
  animation: ptAiguille 13.8s linear infinite;
    -o-animation: ptAiguille 13.8s linear infinite;
    -ms-animation: ptAiguille 13.8s linear infinite;
    -webkit-animation: ptAiguille 13.8s linear infinite;
    -moz-animation: ptAiguille 13.8s linear infinite;
}



@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@-o-keyframes grdAiguille{
    0%{-o-transform:rotate(0deg);}
    100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes grdAiguille{
    0%{-ms-transform:rotate(0deg);}
    100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes grdAiguille{
    0%{-moz-transform:rotate(0deg);}
    100%{-moz-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@-o-keyframes ptAiguille{
    0%{-o-transform:rotate(0deg);}
    100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes ptAiguille{
    0%{-ms-transform:rotate(0deg);}
    100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes ptAiguille{
    0%{-moz-transform:rotate(0deg);}
    100%{-moz-transform:rotate(360deg);}
}

/**************** LOADER BY Ashley Nolan ******************/
.containerSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.loader {
  display: block;
  overflow: hidden;
  margin-bottom: 15%;
  font-size: 0;
}

.loader--slideBoth {
  overflow: visible;
}

.loader-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(61, 92, 126, 0.7);
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
}
.loader-item:nth-child(1) {
  animation-delay: 100ms;
}
.loader-item:nth-child(2) {
  animation-delay: 200ms;
}
.loader-item:nth-child(3) {
  animation-delay: 300ms;
}

.loader--fade .loader-item {
  animation-name: fade;
  animation-duration: 1000ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


 .volume {
    position:relative;
    cursor:pointer;
    width:100%;
    height:20px;
    margin-top:0px;
    margin-bottom: 50px;
    margin-right:10px;
    background-color:#FFF;
}

.volumeBar {
    display:block;
    height:20px;
    position:absolute;
    top:0;
    left:0;
    background: #e68900;
    z-index:10;
    width: 90%;
    background-size: auto 200%;
    background-position: 0 100%;


}

.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}


/********************* MEDIA QUERIES FOR COMPUTER RESOLUTIONS ********************/





/***********************   1920 X 1080 ***********************/
@media (max-width: 1920px) {

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 72%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 72%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 37%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 72%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 72%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}
#enemyForth{
  position: absolute;
  left: 72%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 50%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 800px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 800px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 800px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}


}

/***************************** 1680 x 1050 ************************/
@media (max-width: 1680px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 62%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 62%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 62%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 62%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 44%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 44%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 44%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}


}


/******************************* 1600 X 900 ********************/


@media (max-width: 1600px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 66%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 66%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 33%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 66%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 66%;
  font-size: 3em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 44%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}


#yourForth{
  position: absolute;
  left: 2%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 600px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 600px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 600px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 700px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}






}


/************************************* 1440 x 900 **********************************/

@media (max-width: 1440px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 63%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 63%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 63%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 63%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}


#waitingOpponent {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 6px #000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
  animation-name: fade;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}


#yourForth{
  position: absolute;
  left: 2%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

}

/************************************** 1366 x 768 ****************************************/
@media (max-width: 1366px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 66%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 66%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 33%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 66%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 66%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}


#yourForth{
  position: absolute;
  left: 2%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 48%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 48%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}


.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 450px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 450px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 450px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}


}


/*************************** LITTLE OF BOTH 1280 X 1024 AND 1280 X 800 ********************************/
@media (max-width: 1280px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 55%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 55%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 25%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 55%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 55%;
  font-size: 2.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}


.card:hover {
  box-shadow:0px -2px 10px #135E70, 0px -4px 8px #23E2FF, -2px 0px 10px #135E70, 
  -4px 0px 10px #23E2FF, 2px 0px 10px #135E70, 4px 0px 10px #23E2FF, 0px 2px 10px #135E70, 0px 4px 10px #23E2FF, 
  -4px -4px 10px #23E2FF, 4px 4px 10px #23E2FF, -4px 4px 10px #23E2FF, 4px -4px 10px #23E2FF;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 45%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 45%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}


}

/************************************** 1024 x 768 *******************************/
@media (max-width: 1024px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 48%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 48%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 25%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 48%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 48%;
  font-size: 1.5em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

#goesFirst {
  font-size: 3em;
}
#waitingOpponent {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 6px #000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
  animation-name: fade;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}


#yourForth{
  position: absolute;
  left: 2%;
  top: 38%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 38%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 38%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 38%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 38%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 38%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 38%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 550px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 550px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 550px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 500px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}



}

/******************************** 768 x 1280 *******************************/
@media (max-width: 768px){

.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 37%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 37%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 23%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 37%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 37%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

#waitingOpponent {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 6px #000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.5em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
  animation-name: fade;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}


#yourForth{
  position: absolute;
  left: 2%;
  top: 29%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 29%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 29%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 29%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 29%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 29%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 29%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 450px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}




}


/******************************* 640 X 960 *****************************/
@media (max-width: 640px){


.dmgNumFirst {
  position: absolute;
  left: 6%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumSecond {
  position: absolute;
  left: 20%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumThird {
  position: absolute;
  left: 34%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumForth {
  position: absolute;
  left: 6%;
  top: 33%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumFifth {
  position: absolute;
  left: 20%;
  top: 33%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFirst {
  position: absolute;
  left: 62%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemySecond {
  position: absolute;
  left: 76%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyThird {
  position: absolute;
  left: 90%;
  top: 21%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyForth {
  position: absolute;
  left: 76%;
  top: 33%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}

.dmgNumenemyFifth {
  position: absolute;
  left: 90%;
  top: 33%;
  font-size: 1em;
  font-family: 'Arial';
  text-shadow: 0 0 10px #000,
                0 0 5px #000;
  color: #FFFFFF;
}


#goesFirst {
  font-size: 2em;
}

#waitingOpponent {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 6px #000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2em;
  color: #FFFFFF;
  z-index: 10;
  font-family: 'OptimusPrinceps';
  animation-name: fade;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}

#ceilingHeader {
  font-size: 2em;
}

#yourForth{
  position: absolute;
  left: 2%;
  top: 27%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#yourFifth{
  position: absolute;
  left: 16%;
  top: 27%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyForth{
  position: absolute;
  left: 72%;
  top: 27%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#enemyFifth{
  position: absolute;
  left: 86%;
  top: 27%;
  border-style: ridge;
  border-width: 3px;
  border-color: #333333;
  cursor: pointer;
}

#botoneGrass {
  position: absolute;
  left: 30%;
  top: 27%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#bottwoGrass {
  position: absolute;
  left: 44%;
  top: 27%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

#botthreeGrass {
  position: absolute;
  left: 58%;
  top: 27%;
  border-style: solid;
  border-width: 3px;
  border-color: #4d2600;
  cursor: pointer;
}

.inside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 400px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.iteminside {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 400px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.heroDescript {
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  min-width: 400px;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}







}