

#back {
  outline: none;
  float: left;
}

.heroTitle {
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

.herosubTitle {
  font-size: 2em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

.heroSub {
  position: relative;
  left: 20px;
  font-size: 2em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}


.heroDescript {
  overflow: auto;
  margin-top: 60px;
  min-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.descriptCard{
  margin: 40px;
  border-style: inset;
  border-width: 5px;
  border-color: #333333;
  cursor: default;
}

.abilityCard{
  margin: 10px;
  cursor: default;
}

.pHero {
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: 'arial';
}

.pAbility {
  font-size: 1.2em;
  color: #FFFFFF;
  font-family: 'arial';
}