html {
    height: 100%;
    background-attachment:scroll;
}

body {
  background-color: black;
  height: 100%;
  padding-right:0px !important;
  margin-right:0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

/****************** HIDE HERO TABS SIDEBAR ****************/
.kaylea, .ashea, .jarvana, .garena, .leblanca {
  display: none;
}

.heroTitle {
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

.herosubTitle {
  font-size: 2em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}

.heroSub {
  position: relative;
  left: 20px;
  font-size: 2em;
  color: #FFFFFF;
  font-family: 'OptimusPrinceps';
}


.heroDescript {
  overflow: auto;
  margin-top: 120px;
  min-height: 500px;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  border-style: ridge;
  border-width: 6px;
  border-color: #999999;
}

.pHero {
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: 'arial';
}

.pAbility {
  font-size: 1.2em;
  color: #FFFFFF;
  font-family: 'arial';
}




/********************** INDEX HOME PAGE CSS *********************/

#message {
  display: none;
}

.loginText {
  color: #d9d9d9;
}
label{
  margin-top: 15px;
  color: #d9d9d9;
  font-size: 1.5em;
  font-family: 'OptimusPrinceps';
}

#loggingIn {
  cursor: default;
  overflow: auto;
  margin-top: 120px;
  background: rgba(0,0,0,.8);
  padding: 20px;
  border-style: ridge;
  border-width: 5px;
}

.well {
  background: #ffd480;
  border-style: ridge;
  border-width: 5px;
}

.indexSub {
  position: relative;
  font-size: 2em;
  font-family: 'OptimusPrinceps';
}

#newbie {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Calibri';
  text-decoration: none;
}

#passForgot {
  text-decoration: none;
}

.p1 {
  color: #d9d9d9;
  font-size: 1.5em;
  font-family: 'Calibri';
}

.p3 {
  color: #d9d9d9;
  font-size: 1.5em;
  font-family: 'OptimusPrinceps';
  margin: 0;
}

.pError {
  font-size: 1.5em;
  font-family: 'Calibri';
  color: #ff1a1a;
}

#p2 {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: 'Calibri';
}

.indexHead {
  text-align: center;
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'HamletOrNot';
}

.btn-primary {
  background-color: #9933ff;
    border-color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus {
  outline: none;
    background-color: #9933ff;
    border-color: #FFFFFF;
 }

.btn-primary:active, .btn-primary.active {
  outline: none;
  box-shadow: none;
    background-color: #6600cc!important;
    border-color: #FFFFFF!important;
}



/************** GENERAL ****************/

#mainTitle {
  font-size: 3em;
  font-family: OptimusPrinceps; 
  color: #FFFFFF;
}

#muteIcon {
  display: none;
  top: -33px; 
  left: -10px; 
  z-index:1;
}

.modal-open {
    overflow: auto
}

#handCards {
  display: none;
}

.modal-title {
    font-size: 2em;
}

#wallpaper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url('../images/landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.tab-pane {
  width: 100%;
}

.inside {
  overflow: auto;
  margin-top: 120px;
  text-align: center;
  min-height: 500px;
	cursor: default;
	padding: 20px;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
  border-style: groove;
  border-width: 6px;
  border-color: #999999;
}

.head1 {
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'HamletOrNot';
}


#ranked {
  background-image: url('/images/ranked2.jpg');
  background-size: cover;
  position: relative;
  z-index: 0;
  height: 100px;
  width: 200px;
  font-size: 2.5em;
  color: #FFFFFF;
  text-shadow: 0 3px 8px #000,
              3px 0 8px #000,
              0 -3px 8px #000;
  font-family: 'MagicMedieval';
  border-color: #4d4d4d;
  border-radius: 15px;
  outline: none;
}

#unranked {
  background-image: url('/images/unranked2.jpg');
  background-size: cover;
  position: relative;
  z-index: 0;
  height: 100px;
  width: 200px;
  font-size: 2.5em;
  color: #FFFFFF;
  text-shadow: 0 3px 8px #000,
              3px 0 8px #000,
              0 -3px 8px #000;
  font-family: 'MagicMedieval';
  border-color: #4d4d4d;
  border-radius: 15px;
  outline: none;
}

.emptyCard{
  margin: 40px;
  border-style: inset;
  border-width: 5px;
  border-color: #333333;
  cursor: pointer;
}

.heroCard{
  margin: 40px;
  border-style: inset;
  border-width: 5px;
  border-color: #333333;
  cursor: pointer;
}

.descriptCard{
  margin: 40px;
  border-style: inset;
  border-width: 5px;
  border-color: #333333;
  cursor: default;
}

.abilityCard{
  margin: 10px;
  cursor: default;
}

#back {
  outline: none;
  float: left;
}

form {
  display:inline;
}
/************** CUSTOM FONT **************/
@font-face {
   font-family: MagicMedieval; 
   src: url('../fonts/MagicMedieval.ttf');
}

@font-face {
   font-family: HamletOrNot; 
   src: url('../fonts/HamletOrNot.ttf');
} 

@font-face {
   font-family: OptimusPrinceps; 
   src: url('../fonts/OptimusPrinceps.ttf');
} 

/**************** WIN RATIO ****************/

#ratio {
  font-family: 'cursive';
  font-size: 7em;
  animation: shine 5s infinite;
}

@keyframes shine { 
    0%{}
    20%{text-shadow: 0 0 4px #FFFFFF;}
    100%{}
}
@-webkit-keyframes shine {
    0%{}
    20%{text-shadow: 0 0 4px #FFFFFF;}
    100%{}
}
@-moz-keyframes shine {
    0%{}
    20%{text-shadow: 0 0 4px #FFFFFF;}
    100%{}
}





/************************* VOLUME BY ONIGETOC ****************************/
/* VOLUME BAR CSS */

/* volume bar */
 .volume {
    position:relative;
    cursor:pointer;
    width:100%;
    height:20px;
    float:left;
    margin-top:10px;
    margin-right:10px;
    background-color:#000;
}

.volumeBar {
    display:block;
    height:20px;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(272deg, #e68900, #000000);
    z-index:10;
    width: 90%;
    background-size: auto 200%;
    background-position: 0 100%;
    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;



}

.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}


@keyframes gradient { 
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-webkit-keyframes gradient {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}


#mainTitle {
  transition: text-shadow 0.3s ease;
}

#mainTitle:hover {
  
  text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
}



/**************** SIDE BAR BY CRISMASTER *******************/

.navbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 90px;
  width: 100%;
  background: #000000;
  border-style: none;
  border-radius: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper {
  top: 90px;
  left: -200px;
  width: 300px;
  background-color: #1a1a1a;
  color: white;
  overflow: auto;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 300px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 90px;
}
.sidebar-nav li a {
  transition: text-shadow 0.3s ease;
	font-size: 2em;
	font-family: OptimusPrinceps;
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
    text-shadow: 0 0 2px #eee,
             0 0 4px #fff,
             0 -1px 4px #ff3,
             1px -2px 6px #fd3,
             -1px -4px 11px #f80,
             1px -6px 18px #f20;
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.2s ease-out;
  margin-left: -200px;
}


@media (max-height: 860px) {

  #sidebar-wrapper {
    top: 90px;
    left: -200px;
    width: 300px;
    background-color: #1a1a1a;
    color: white;
    overflow: auto;
    position: fixed;
    height: 100%;
    z-index: 1;
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    list-style: none;
  }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 70px;
  }
  .sidebar-nav li a {
    transition: text-shadow 0.3s ease;
     font-size: 1.8em;
     font-family: OptimusPrinceps;
      color: white;
      display: block;
      text-decoration: none;
  }

  #muteIcon {
    display: none;
    top: -23px; 
    left: -10px; 
    z-index:1;
  }

}

@media(max-height: 620px) {

  #sidebar-wrapper {
    top: 90px;
    left: -200px;
    width: 300px;
    background-color: #1a1a1a;
    color: white;
    overflow: auto;
    position: fixed;
    height: 100%;
    z-index: 1;
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    list-style: none;
  }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
  }
  .sidebar-nav li a {
    transition: text-shadow 0.3s ease;
     font-size: 1.5em;
     font-family: OptimusPrinceps;
      color: white;
      display: block;
      text-decoration: none;
  }

  #muteIcon {
    display: none;
    top: -12px; 
    left: -10px; 
    z-index:1;
  }

}

@media (max-width: 550px) {

  #mainTitle {
    font-size: 2.5em;
  }

}

@media (min-width: 1780px) {
    #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

@media (max-width: 1780px) {

  .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}